body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

@import 'https://fonts.googleapis.com/css?family=Ek+Mukta:300,400,800';

@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';
