.clear-bottom {
    &:after {
        clear: both;
        display: block;
        content: "";
    }
}
.wrapper {
	width: 100%;
}
.copy {
    > *:first-child {
        margin-top: 0;
        padding-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    p {
        margin: 20px 0;
    }
}
a.surrounding {
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
}
h1,h2,h3 {
    font-weight: $weight-extra-bold;
    margin: 20px 0;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}

#masthead {
    background-color: $color__cyi-dark-blue;
    border-bottom: 10px solid $color__cyi-blue;
    .wrapper {
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
        > .row-1 {
            width: 100%;
            text-align: right;
            padding: 5px 0 0 0;
            color: $color__cyi-dark-green;
            font-weight: $weight-medium;
            font-size: $font__size-small;
            text-transform: uppercase;
            .tag {
                display: inline-block;
            }
            .tel {
                padding: 0 0 0 $margin-small;
                display: inline-block;
            }
        }
        > .row-2 {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: baseline;
            align-content: center;
            padding: 8px 0 25px 0;
            > .logo.column-1 {
                width: 40%;
                text-align: left;
                margin: 0;
                padding: 0;
                a {
                    color: white;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-family: 'Libre Baskerville', serif;
                    font-weight: 400;
                }
            }   
            > .column-2 {
                width: 60%;
                text-align: right;
                > #site-navigation.row-1 {
                    width: 100%;
                    .menu-main-primary-menu-container {
                        > ul {
                            margin: 0;
                            padding: 0;
                            > li {
                                display: inline-block;
                                padding: 0 15px;
                                list-style-type: none;
                                &:last-child {
                                    padding-right: 0;
                                }
                                a {
                                    color: white;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    font-weight: $weight-medium;
                                    font-size: $font__size-medium;
                                    &:hover, &.active {
                                        font-weight: $weight-extra-bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#colophon {
    background-color: $color__cyi-dark-blue;
    font-size: $font__size-extra-small;
    font-weight: $weight-light;
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
    .wrapper {
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
        padding: 15px 0;
        .site-info.column-1 {
            float: left;
            width: 50%;
            .email, .company-name {
                margin-right: 3px;
            }
            .location, .tel {
                margin-left: 3px;
            }
            .row-1 {
                width: 100%;
                text-transform: uppercase;
                .company-name {
                }
                .location {
                }
            }
            .row-2 {
                width: 100%;
                .email {
                }
                .tel {
                }
            }
        }
        .sitemapbw-menu.column-2 {
            width: 50%;
            float: left;
            .menu-sitemap-bw-menu-container {
                text-align: right;
                > ul {
                    margin: 0;
                    padding: 0;
                    > li {
                        display: inline-block;
                        padding: 0;
                        list-style-type: none;
                        text-transform: uppercase;
                        &:last-child {
                            padding-right: 0;
                        }
                        &:first-child {
                            a {
                                &:before {
                                    display: none;
                                }
                            }
                        }
                        a {
                            &:before {
                                content: " | ";
                                margin: 0 6px 0 5px;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}
