.template-index {
    > .row-1 {
        width: 100%;
        padding: $margin-small 0;
        > .wrapper {
            max-width: $max-width;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            > .column-1 {
                width: 64%;
                > .column-1, > .column-2, > .column-3 {
                    width: 32%;
                    float: left;
                }
                > .column-1 {
                    > .row-1 {
                        margin-bottom: 5%;
                        img {
                            display:block;
                        }
                    }
                    > .row-2 {
                        color: white;
                        padding: $margin-small 15px;
                        background-color: $color__cyi-orange;
                        border-top: 15px solid $color__cyi-light-orange;
                        .title {
                            text-transform: uppercase;
                            font-size: 40px;
                            font-weight: $weight-extra-bold;
                            line-height: 1;
                            display: block;
                            margin-bottom: 5px;
                        }
                        .tag {
                            line-height: 1;
                            font-size: 17px;
                            font-weight: $weight-light;
                            text-transform: uppercase;
                            display: block;
                        }
                    }
                }
                > .column-2 {
                    margin: 0 1.5%;
                    > .row-1 {
                        color: white;
                        padding: $margin-small 15px;
                        background-color: $color__cyi-green;
                        border-bottom: 15px solid $color__cyi-light-green;
                        .title {
                            text-transform: uppercase;
                            font-size: 40px;
                            font-weight: $weight-extra-bold;
                            line-height: 1;
                            display: block;
                            margin-bottom: 5px;
                        }
                        .tag {
                            line-height: 1;
                            font-size: 17px;
                            font-weight: $weight-light;
                            text-transform: uppercase;
                            display: block;
                        }
                    }
                    > .row-2 {
                        margin-top: 5%;
                        img {
                            display:block;
                        }
                    }
                }
                > .column-3 {
                    > .row-1 {
                        margin-bottom: 5%;
                        img {
                            display:block;
                        }
                    }
                    > .row-2 {
                        color: white;
                        padding: $margin-small 15px;
                        background-color: $color__cyi-teal;
                        border-top: 15px solid $color__cyi-light-teal;
                        .title {
                            text-transform: uppercase;
                            font-size: 40px;
                            font-weight: $weight-extra-bold;
                            line-height: 1;
                            display: block;
                            margin-bottom: 5px;
                        }
                        .tag {
                            line-height: 1;
                            font-size: 17px;
                            font-weight: $weight-light;
                            text-transform: uppercase;
                            display: block;
                        }
                    }
                }
            }
            > .column-2 {
                width: 36%;
                padding: 0 0 0 $margin-extra-large;
                > header {
                    padding:0;
                    width: 100%;
                    h2 {
                        margin: 0 0 20px 0;
                        color: $color__cyi-blue;
                        font-size: 24px;
                        font-weight: $weight-extra-bold;
                    }
                }
                .copy {
                        font-size: 18px;
                        font-weight: $weight-light;
                }
            }   
        }
    }
    > .row-2 {
        width: 100%;
        padding: 50px 0;
        background-color: $color__cyi-grey;
        > .wrapper {
            max-width: $max-width;
            margin: 0 auto;
            > .column-1 {
                width: 37%;
                float: left;
                background-color: white;
                border-left: 10px solid $color__cyi-blue;
                > .wrapper {
                    padding:20px 30px 20px 25px;
                    .gform_wrapper .gform_body {
                        width: 100%;
                    }
                    .gform_wrapper {
                        margin: 0;
                    }
                    .gform_title {
                        margin: 0;
                        font-weight: $weight-extra-bold;
                        font-size: 26px;
                        text-transform: capitalize;
                        color: $color__cyi-blue;
                    }
                    .top_label {
                        .gfield_label, div.ginput_container {
                            margin-top: 4px;
                            font-weight: 400;
                        }
                        .gfield_label {
                            font-size: 14px;
                        }
                    }
                    span.gform_description {
                        display: none;
                    }
                    .gform_heading {
                        margin-bottom: 0;
                    }
                    .gfield_label[for="input_1_1_3"] {
                        display: none;
                    }
                    .gform_wrapper .top_label input.large.datepicker, .gform_wrapper .top_label input.medium.datepicker, .gform_wrapper .top_label input.small.datepicker {
                        width: 100%;
                    }
                    .gform_body {
                        > ul {
                            margin: 0;
                            padding: 0;
                            > li {
                                margin: 0;
                                padding: 0;
                                float: left;
                                width: 50%;
                                clear: none;
                                &:nth-child(even){
                                    padding: 0 16px 0 0;
                                }
                                &:first-child {
                                    label {
                                        margin-top: 0;
                                    }
                                }
                                &:first-child, &:last-child {
                                    width: 100%;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
            > .column-2 {
                width: 63%;
                float: left;
                padding: 10px 0 0 80px;
                > .row-1 {
                    width: 100%;
                    > header {
                        padding: 20px 0;
                        width: 100%;
                        h2 {
                            margin: 0;
                            color: $color__cyi-blue;
                            font-size: 22px;
                            text-transform: uppercase;
                            font-weight: $weight-extra-bold;
                        }
                    }
                    .services {
                        .service {
                            background-color: $color__cyi-green;
                            padding: 15px $margin-medium;
                            position: relative;
                            float: left;
                            width: 49%;
                            &:nth-child(even) {
                                margin: 0 0 2% 1%;
                            }
                            &:nth-child(odd) {
                                margin: 0 1% 2% 0;
                            }
                            > header {
                                padding: 0;
                                margin: 0;
                                display: flex;
                                align-items: center;
                                width: 80%;
                                h3 {
                                    padding: 0;
                                    margin: 0;
                                    color: white;
                                    font-size: 17px;
                                    font-weight: $weight-medium;
                                }
                            }
                            .fa-plus {
                                color: white;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                padding: 20px;
                                z-index: 0;
                                font-size: 22px;
                            }
                        }
                    }
                }
                > .row-2 {
                    width: 100%;
                    color: $color__cyi-blue;
                    > header {
                        padding: 20px 0 10px 0;
                        width: 100%;
                        margin-bottom: 10px;
                        border-bottom: 1px solid black;
                        h2 {
                            margin: 0;
                            color: $color__cyi-orange;
                            font-size: 22px;
                            text-transform: uppercase;
                            font-weight: $weight-extra-bold;
                        }
                    }
                    img {
                        float: left;
                        width: 30%;
                        margin: 0 $margin-large 0 0;
                    }
                    .tel {
                        font-size: 22px;
                        font-weight: $weight-extra-bold;
                        margin: 25px 0 0 0;
                        .fa {
                            margin-right: 15px;
                        }
                    }
                    .hours-1 {
                        margin: $margin-small 0 0 0;
                        font-size: 16px;
                        line-height: 1.2;
                        font-weight: $weight-medium;
                    }
                    .hours-2 {
                        font-size: 16px;
                        font-weight: $weight-medium;
                        line-height: 1.2;
                    }
                    .email {
                        font-size: 18px;
                        font-weight: $weight-extra-bold;
                        margin: 15px 0 0 0;
                        a {
                            color: $color__cyi-blue;
                            text-decoration: none;
                            &:hover {
                                color: $color__cyi-blue;
                            }
                            .fa {
                                margin-right: $margin-small;
                            }
                        }
                    }
                }
            }
        }
    }
}
.template-page, .template-sitemap, .error-404 {
    max-width: $max-width;
    margin: 0 auto;
    padding: 10px 0 50px 0;
    > header {
        text-align: center;
        padding: 20px 0 10px 0;
        width: 100%;
        h1 {
            margin: 0;
            color: $color__cyi-orange;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: $weight-extra-bold;
        }
    }
    .copy {
    }
}
