$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__cyi-dark-blue: #001040;
$color__cyi-blue: #0B6C82;
$color__cyi-orange: #f39250;
$color__cyi-green: #BAD077;
$color__cyi-teal: #29b4ad;
$color__cyi-light-orange: #F7b386;
$color__cyi-light-green: #CDDD9B;
$color__cyi-light-teal: #75D5C9;
$color__cyi-dark-green: #B8D077;
$color__cyi-grey: #efefef;
