$size__site-main: 100%;
$size__site-sidebar: 25%;
$tabwidth: 600px;
$midwidth: 900px;
$deskwidth: 1200px;

$margin-tiny: 5px;
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 30px;
$margin-extra-large: 40px;

$max-width: 1060px;

