$font__main: 'Ek Mukta', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$weight-light: 300;
$weight-extra-bold: 800;
$weight-medium: 400;

$font__size-medium: 18px;
$font__size-small: 16px;
$font__size-extra-small: 14px;
